@import "styles/shared";

.root {
  height: 64px;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 64px;
  background: $color-light;
  border-bottom: $border;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.container {
  flex-grow: 1;
}

.link {
  font-size: 2em;
  line-height: 1em;
  color: $color-dark;
  border-radius: $border-radius;
  margin-right: -$container-padding / 2;
  margin-left: -$container-padding / 2;
  padding-right: $container-padding / 2;
  padding-left: $container-padding / 2;

  &:focus {
    outline: $border;
  }
}
